@import "blocks/_promo.scss";
@import "blocks/_header.scss";
@import "blocks/advantages";
@import "base/_variables.scss";
@import "base/_mixins.scss";
@import "base/media";

.PromoHeaderButton {
   width: 150px;
   height: 30px;
   border-radius: 5px;
   font-size: 12px;
   font-weight: 400;
   font-style: normal;
   letter-spacing: normal;
   line-height: normal;
   text-align: center;
   text-transform: uppercase;
   margin-top: 8px;
   margin-left: auto;
}
.button {
   display: block;
   background-color: #c70101;
   color: #ffffff;
}

.container {
   max-width: 945px;
   margin: 0 auto;
   height: 100%;
}
.button_promo {
   width: 300px;
   height: 50px;
   border-radius: 5px;
   font-size: 16px;
   font-weight: 500;
   font-style: normal;
   letter-spacing: normal;
   line-height: normal;
   text-align: center;
   text-transform: uppercase;
   margin-top: 68px;
}

@media (max-width: 960px) {
   .container {
      max-width: 800px;
   }
}

@media (max-width: 800px) {
   .container {
      max-width: 650px;
   }
   .promo {
      background: url(../../img/bg1.png) no-repeat;
   }
}
@media (max-width: 650px) {
   .container {
      max-width: 500px;
   }
   .header {
      display: flex;
      justify-content: space-between;
      img {
         display: block;
         width: 190px;
         height: auto;
      }
      &__title {
         img {
            display: none;
         }
      }
   }
   .promo__title-h1 {
      font-size: 35px;
      span {
         font-size: 19px;
      }
   }
}
@media (max-width: 425px) {
   .container {
      max-width: 390px;
   }
   .promo__title-h1 {
      font-size: 28px;
      span {
         font-size: 19px;
      }
   }
   .promo__icons {
      width: 80%;
   }
   .button_promo {
      width: 270px;
   }
   .advantages {
      &__icons {
         flex-direction: column;
         align-items: center;
         margin-top: 10px;
      }
      &__icon {
         margin-top: 50px;
      }
   }
}
@media (max-width: 375px) {
   .container {
      max-width: 345px;
   }
   .header__call_namber {
      font-size: 15px;
   }
}

@media (max-width: 320px) {
   .container {
      max-width: 290px;
   }
   .header__call_namber {
      display: none;
   }
   .PromoHeaderButton {
      display: none;
   }
   .promo__title-h1 {
      font-size: 23px;
      span {
         font-size: 16px;
      }
   }
   .promo__icons {
      margin: 0 auto;
      margin-top: 90px;
   }
   .promo__icon {
      margin-left: 15px;
   }
}
