@import "blocks/_promo.scss";
@import "blocks/_header.scss";
@import "blocks/advantages";
@import "base/_variables.scss";
@import "base/_mixins.scss";

.PromoHeaderButton {
   width: 150px;
   height: 30px;
   border-radius: 5px;
   font-size: 12px;
   font-weight: 400;
   font-style: normal;
   letter-spacing: normal;
   line-height: normal;
   text-align: center;
   text-transform: uppercase;
   margin-top: 8px;
   margin-left: auto;
}
.button {
   display: block;
   background-color: #c70101;
   color: #ffffff;
}

.container {
   max-width: 945px;
   margin: 0 auto;
   height: 100%;
}
.button_promo {
   width: 300px;
   height: 50px;
   border-radius: 5px;
   font-size: 16px;
   font-weight: 500;
   font-style: normal;
   letter-spacing: normal;
   line-height: normal;
   text-align: center;
   text-transform: uppercase;
   margin-top: 68px;
}
