.advantages {
   min-height: 475px;
   background-color: #f6f6f6;
   padding-top: 62px;
   &__title {
      color: #0d0d0d;
      font-size: 30px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      text-align: center;
   }
   &__icons {
      margin-top: 65px;
      display: flex;
      justify-content: space-between;
   }
   &__icon {
      img {
         display: block;
         margin: 0 auto;
      }
      max-width: 240px;
      height: 231px;
   }
   &__icon-title {
      margin-top: 38px;
      color: #0d0d0d;
      font-size: 18px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      text-align: center;
   }
   &__icon-subtitle {
      margin-top: 25px;

      font-family: "Museo Sans 300 Light";
      color: #0d0d0d;
      font-size: 14px;

      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      text-align: center;
      span {
         color: #ff0000;
         font-style: normal;
         letter-spacing: normal;
         line-height: normal;
         text-decoration: underline;
      }
   }
}
